html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }

.container-fluid {
  background-color: #31b0d5;
  color: rgba(255,255,255, 0.84);
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

/*navbar*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: -webkit-linear-gradient(top,#009688 0,#31b0d5 100%);
  background-image: -o-linear-gradient(top,#009688 0,#31b0d5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#009688),to(#31b0d5));
  background-image: linear-gradient(to bottom,#009688 0,#31b0d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFFFFF;
  background-color: #e7e7e7;
}

/*panel heading*/
.panel.panel-default>.panel-heading, .panel>.panel-heading {
  background-color: #31b0d5;
  color: #FFFFFF;
}

.panel-default>.panel-heading {
  background-image: -webkit-linear-gradient(top,#31b0d5 0,#1E88E5 100%);
  background-image: -o-linear-gradient(top,#31b0d5 0,#1E88E5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#31b0d5),to(#1E88E5));
  background-image: linear-gradient(to bottom,#31b0d5 0,#1E88E5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

h1, h2, h3, h4, h5  { text-align: center; }